* {
    margin: 0;
    padding: 0; }
  
  .principal {
    font-size: 0; }
  
  
  .menuSantander {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: initial !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-smoothing: initial !important; }
  
  .menuSantander a,
  .footerSantander a {
    text-decoration: none; }
  
  .menuSantander li,
  .footerSantander li {
    list-style: none;
    list-style-image: none; }
  
  .logoLink {
    position: absolute;
    overflow: hidden;
    top: 23px;
    left: 0;
    width: 200px;
    height: 40px;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 0;
    text-align: left; }
  
  .menuFantasma {
    width: 100%;
    height: 60px; }
  
  .botonTextoLink {
    color: #ec0000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
    position: relative;
    text-decoration: none; }
    .botonTextoLink:hover {
      text-decoration: none; }
    .botonTextoLink:before {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      bottom: 0px;
      right: 0;
      left: 0;
      margin: 0 auto;
      background-color: #ec0000;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
    .botonTextoLink:hover:before {
      text-decoration: none;
      width: 100%; }
  
  .menuSantander {
    width: 100%;
    min-width: 1060px; }
    .menuSantander .menuSantanderEscritorio {
      background-color: #ec0000; }
    .menuSantander .principal {
      margin: 0 auto;
      width: 1010px;
      text-align: right;
      position: relative;
      background-repeat: no-repeat; }
      .menuSantander .principal li {
        list-style: none;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
        .menuSantander .principal li ul.submenuAyuda {
          position: absolute;
          right: 0px;
          background-color: #ffffff;
          z-index: 150;
          background-image: none;
          width: 230px;
          -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3); }
          .menuSantander .principal li ul.submenuAyuda:before {
            content: "";
            top: -20px;
            right: 10px;
            width: 0;
            height: 0;
            border-right: 10px solid transparent;
            border-top: 10px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 10px solid #ffffff;
            position: absolute; }
          .menuSantander .principal li ul.submenuAyuda li {
            text-align: left;
            display: block;
            background-color: #ffffff; }
            .menuSantander .principal li ul.submenuAyuda li a {
              display: block;
              padding: 10px 0 10px 40px;
              font-size: 12px;
              color: #6d6d6d;
              position: relative;
              background-color: #ffffff; }
              .menuSantander .principal li ul.submenuAyuda li a:before {
                background-color: transparent; }
              .menuSantander .principal li ul.submenuAyuda li a span .icon {
                position: absolute;
                color: #6d6d6d;
                font-size: 20px;
                left: 10px;
                top: 7px; }
              .menuSantander .principal li ul.submenuAyuda li a span {
                position: absolute;
                color: #ec0000;
                left: 10px;
                top: 14px; }
                .menuSantander .principal li ul.submenuAyuda li a span.str-flecha-derecha {
                  right: 10px;
                  left: auto; }
            .menuSantander .principal li ul.submenuAyuda li:hover {
              background-color: transparent; }
              .menuSantander .principal li ul.submenuAyuda li:hover a {
                background-color: #f0f0f0; }
                .menuSantander .principal li ul.submenuAyuda li:hover a .icon {
                  color: #ec0000; }
        .menuSantander .principal li:hover {
          background-color: #B30000; }
        .menuSantander .principal li a {
          color: #ffffff;
          outline: 0;
          font-weight: 600;
          text-rendering: optimizeLegibility;
          font-size: 14px;
          padding: 30px 10px;
          display: block;
          position: relative;
          line-height: initial;
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -moz-transition: all .3s ease;
          -o-transition: all .3s ease; }
          .menuSantander .principal li a:hover {
            text-decoration: none; }
          .menuSantander .principal li a:before {
            content: "";
            position: absolute;
            height: 16px;
            width: 1px;
            left: 0;
            top: 50%;
            margin-top: -8px; }
        .menuSantander .principal li:last-child a:before {
          left: -10px; }
        .menuSantander .principal li:first-child a:before, .menuSantander .principal li:hover + li a:before, .menuSantander .principal li.menuActivo + li a:before {
          background-color: transparent; }
        .menuSantander .principal li a.ayuda {
          position: relative;
          cursor: pointer;
          color: transparent !important;
          padding: 30px 20px; }
          .menuSantander .principal li a.ayuda span {
            font-size: 24px;
            position: absolute;
            color: #fff;
            top: 27px;
            left: 8px; }
        .menuSantander .principal li a.btnBeneficios {
          padding: 7px 20px 7px 40px;
          text-align: center;
          position: relative;
          margin-left: 10px;
          background-color: #fff;
          border-radius: 30px;
          color: #ec0000;
          overflow: inherit;
          line-height: initial;
          animation-duration: 1.4s;
          animation-name: animacionBeneficios;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          margin-bottom: 0; }
          .menuSantander .principal li a.btnBeneficios .iconoBeneficios {
            position: absolute;
            left: 11px;
            top: 6px;
            font-size: 22px;
            border-radius: 50%;
            color: #ec0000;
            padding: 0; }
    .menuSantander .str-flecha-abajo {
      font-size: 10px !important; }
  
  @keyframes animacionBeneficios {
    0% {
      -moz-box-shadow: 0px 0px 0 0px transparent;
      -webkit-box-shadow: 0px 0px 0 0px transparent;
      box-shadow: 0px 0px 0 0px transparent; }
    59% {
      -moz-box-shadow: 0px 0px 0 0px transparent;
      -webkit-box-shadow: 0px 0px 0 0px transparent;
      box-shadow: 0px 0px 0 0px transparent; }
    60% {
      -moz-box-shadow: 0px 0px 0 0px #ffffff;
      -webkit-box-shadow: 0px 0px 0 0px #ffffff;
      box-shadow: 0px 0px 0 0px #ffffff; }
    100% {
      -moz-box-shadow: 0px 0px 0 8px transparent;
      -webkit-box-shadow: 0px 0px 0 8px transparent;
      box-shadow: 0px 0px 0 8px transparent; } }
  .displayNone {
    display: none; }
  
  .menuSantander .submenuSantander ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-size: 0;
    width: 1060px; }
    .menuSantander .submenuSantander ul li {
      display: inline-block;
      position: relative; }
      .menuSantander .submenuSantander ul li.menuVacio {
        height: 30px;
        display: inherit; }
      .menuSantander .submenuSantander ul li a {
        display: block;
        color: #ffffff;
        position: relative;
        font-size: 12px;
        padding: 7px 25px;
        line-height: initial;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
        .menuSantander .submenuSantander ul li a:hover {
          text-decoration: none; }
        .menuSantander .submenuSantander ul li a.hazteCliente {
          color: #ffffff; }
        .menuSantander .submenuSantander ul li a span {
          color: #fff;
          font-size: 13px;
          margin: 0 2px; }
      .menuSantander .submenuSantander ul li:hover ul.submenuDesplegable {
        display: block; }
      .menuSantander .submenuSantander ul li:focus ul.submenuDesplegable, .menuSantander .submenuSantander ul li:active ul.submenuDesplegable {
        background-color: #333333; }
      .menuSantander .submenuSantander ul li ul.submenuDesplegable {
        position: absolute;
        display: none;
        z-index: 9999;
        font-size: 12px;
        text-align: left;
        width: 275px;
        height: auto; }
        .menuSantander .submenuSantander ul li ul.submenuDesplegable li {
          display: block; }
          .menuSantander .submenuSantander ul li ul.submenuDesplegable li a {
            padding: 7px 0 7px 30px; }
          .menuSantander .submenuSantander ul li ul.submenuDesplegable li:hover a {
            color: #999999; }
      .menuSantander .submenuSantander ul li a.botonNewBeneficios {
        margin: 0;
        border-radius: 30px;
        display: inline-block;
        text-align: center;
        padding: 2px 15px 2px 15px !important;
        line-height: normal;
        background-color: #fff;
        color: #000;
        font-weight: normal;
        text-decoration: none;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
  
  .menuSantanderMobile {
    display: none;
    height: 60px;
    position: relative;
    z-index: 999;
    background-repeat: no-repeat;
    background-position: 12px 12px; }
    .menuSantanderMobile.menuSantanderMobileKit {
      display: block; }
  
  .botonHamburguesa {
    width: 26px;
    height: 17px;
    position: absolute;
    right: 20px;
    top: 24px;
    cursor: pointer; }
    .botonHamburguesa span.linea {
      width: 100%;
      height: 3px;
      border-radius: 5px;
      background-color: #fff;
      position: absolute;
      top: 7px;
      left: 0;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
      .botonHamburguesa span.linea:before {
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 5px;
        bottom: -7px;
        left: 0;
        background-color: #fff;
        position: absolute;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
      .botonHamburguesa span.linea:after {
        content: "";
        width: 100%;
        height: 3px;
        border-radius: 5px;
        bottom: 7px;
        left: 0;
        position: absolute;
        background-color: #fff;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
      .botonHamburguesa span.linea.equis {
        background-color: transparent; }
        .botonHamburguesa span.linea.equis:before {
          background-color: #fff;
          bottom: 0px;
          height: 4px;
          transform: rotate(45deg) translate(0, 0); }
        .botonHamburguesa span.linea.equis:after {
          background-color: #fff;
          bottom: 0px;
          height: 4px;
          transform: rotate(-45deg) translate(0, 0); }
  
  .menuDesplegable {
    width: 90%;
    max-width: 300px;
    height: calc(100% - 60px);
    background-color: #f0f0f0;
    position: fixed;
    display: none;
    top: 60px;
    right: 0;
    z-index: 999;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
    .menuDesplegable a {
      text-decoration: none; }
      .menuDesplegable a:hover {
        text-decoration: none; }
    .menuDesplegable .ingresaraBanco {
      color: #fff;
      background-color: #ec0000;
      margin: 20px auto;
      border: 0;
      width: 90%;
      cursor: pointer;
      border-radius: 30px;
      padding: 16px 0;
      display: block;
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
      .menuDesplegable .ingresaraBanco > span {
        color: #fff; }
  
  .moreInfoPlus {
    color: #ec0000;
    font-weight: 700; }
    .moreInfoPlus::before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0%;
      border-bottom: solid 1px #ec0000;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
  
  .subred {
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 100%;
    position: relative; }
    .subred:hover .moreInfoPlus::before {
      width: 70%;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
  
  .mobile {
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 100%;
    position: relative; }
  
  .moreInfoPlus::before {
    content: "\e986";
    color: #ec0000;
    left: 50px;
    position: absolute;
    top: 7px;
    font-size: 11px;
    bottom: 0;
    margin: auto;
    height: 15px;
    font-family: 'iconos-santander'; }
  
  .menuDesplegable ul {
    margin: 0;
    padding: 0; }
    .menuDesplegable ul li {
      position: relative;
      list-style: none;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
      .menuDesplegable ul li a {
        color: #6d6d6d;
        background-color: #f0f0f0;
        display: block;
        font-weight: 600;
        width: 100%;
        padding: 17px 5%;
        font-size: 14px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
        .menuDesplegable ul li a:hover {
          background-color: #dddddd; }
        .menuDesplegable ul li a.animarMenu {
          animation-direction: normal;
          animation-timing-function: ease-out;
          animation-name: menuAnimado; }
      .menuDesplegable ul li:nth-child(1) a.animarMenu {
        animation-duration: .35s; }
      .menuDesplegable ul li:nth-child(2) a.animarMenu {
        animation-duration: .40s; }
      .menuDesplegable ul li:nth-child(3) a.animarMenu {
        animation-duration: .45s; }
      .menuDesplegable ul li:nth-child(4) a.animarMenu {
        animation-duration: .50s; }
      .menuDesplegable ul li:nth-child(5) a.animarMenu {
        animation-duration: .55s; }
      .menuDesplegable ul li:nth-child(6) a.animarMenu {
        animation-duration: .60s; }
      .menuDesplegable ul li:nth-child(7) a.animarMenu {
        animation-duration: .65s; }
      .menuDesplegable ul li span {
        color: #ec0000;
        position: absolute;
        right: 5%;
        top: 22px;
        font-size: 10px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease; }
      .menuDesplegable ul li ul li a {
        font-weight: 400; }
  .menuDesplegable.menuOculto {
    right: -90%; }
  
  @keyframes menuAnimado {
    from {
      padding-left: 60%; }
    to {
      padding-left: 5%; } }
  .agregarFixed {
    position: fixed;
    z-index: 1111;
    top: 0px;
    overflow: visible; }
  
  .navNone {
    display: none; }
  
  .bgFixedMenu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 888;
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
  
  .bgFixedMenuSantander {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
  
  .bgFixedNone {
    display: none; }
  
  .bgFixedMenu.bgFixedMenuOculto,
  .bgFixedMenuSantander.bgFixedMenuOculto {
    opacity: 0;
    display: none; }
  
  .labelCheck,
  .labelRadio {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px; }
  
  input[type=checkbox] {
    display: none; }
  
  .labelCheck:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    top: 1px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 0px #f0f0f0;
    -webkit-box-shadow: 0px 2px 0px #f0f0f0;
    box-shadow: 0px 2px 0px #f0f0f0;
    border: 1px solid #dddddd; }
  
  .menuDeslizante .primarioMobile .menuAcordeon {
    display: none; }
    .menuDeslizante .primarioMobile .menuAcordeon a {
      background-color: #f0f0f0;
      color: #6d6d6d;
      display: block;
      padding: 17px 5%;
      width: 90%;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
      .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu {
        animation-duration: 0.3s;
        margin-left: 150px;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        animation-name: slidein; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(1) {
          animation-delay: 0s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(2) {
          animation-delay: 0.1s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(3) {
          animation-delay: 0.2s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(4) {
          animation-delay: 0.3s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(5) {
          animation-delay: 0.4s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(6) {
          animation-delay: 0.5s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(7) {
          animation-delay: 0.6s; }
        .menuDeslizante .primarioMobile .menuAcordeon a.animacionMenu:nth-child(8) {
          animation-delay: 0.7s; }
      .menuDeslizante .primarioMobile .menuAcordeon a:hover {
        background-color: #dddddd; }
  .menuDeslizante .primarioMobile a span {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
    .menuDeslizante .primarioMobile a span.flechaActiva {
      transform: rotate(-180deg); }
  
  @keyframes slidein {
    from {
      margin-left: 150px; }
    to {
      margin-left: 0; } }
  .footerMobile {
    border-top: 1px solid #dddddd; }
    .footerMobile a {
      background-color: #f0f0f0;
      color: #6d6d6d;
      display: block;
      padding: 17px 5%;
      width: 90%;
      text-align: left;
      font-size: 14px;
      transition: all .3s ease;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease; }
      .footerMobile a:visited {
        color: #6d6d6d; }
      .footerMobile a:hover {
        background-color: #dddddd; }
      .footerMobile a span {
        float: none;
        color: #ec0000;
        margin-right: 10px; }
  
  /*fin menu acordeon*/
  .logInOcultar {
    display: none !important; }
  
  .logoLink {
    width: 180px;
    left: 0;
    background-image: url("../../assets/img/header/logo-santander.png"); }
  
  .menuSantander .principal {
    background-color: #ec0000;
    background-position: left center;
    background-repeat: no-repeat; }
  .menuSantander .principal li a:before {
    background-color: #B30000; }
  .menuSantander .principal li:hover {
    background-color: #B30000; }
    .menuSantander .principal li:hover:last-child {
      background-color: transparent; }
  .menuSantander .principal li.menuActivo {
    background-color: #B30000; }
  .menuSantander .submenuSantander {
    background-color: #B30000; }
    .menuSantander .submenuSantander ul li a.botonNewBeneficios:hover {
      color: #fff;
      background: #990000; }
    .menuSantander .submenuSantander ul li a.hazteCliente:hover {
      color: #fff; }
    .menuSantander .submenuSantander ul li:hover a {
      background-color: #990000; }
  .menuSantander #submenuEmpresas .submenuDesplegable {
    background-color: #990000; }
  
  .menuSantanderMobile {
    background-color: #ec0000;
    background-image: url("../../assets/img/header/logo-santander.png");
    background-size: 180px; }
  
  @media (max-width: 1050px) {
    .menuSantander .submenuSantander ul li a {
      padding-right: 5px !important; } }
  .menuSantander ul {
    max-width: 1092px !important; }
  
  .listadoMenu > li > ul {
    height: 0;
    overflow: hidden;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease; }
  
  @media only screen and (max-width: 1060px) {
    .menuSantander {
      min-width: inherit; }
  
    .menuDesplegable {
      display: block; }
  
    .menuSantanderEscritorio {
      display: none; }
  
    .menuSantanderMobile {
      display: block; }
  
    .menuSantander {
      position: fixed;
      width: 100%;
      z-index: 9999; }
      .menuSantander ul {
        text-align: left; }
  
    .menuFantasma {
      display: block; } }
  @media only screen and (max-width: 768px) {
    nav .menu {
      right: -90%;
      width: 90%; }
  
    .menuMobileNew {
      display: block; }
  
    .menuUp,
    .menuDown {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .menuMobileNew {
      background-size: 90%; }
  
    .advance .menuMobileNew {
      background-position: 10px center;
      background-size: 60%; } }
  
  /*# sourceMappingURL=main.css.map */
  