
<!--header-->
    <header class="menuSantander">
        <nav class="menuSantanderEscritorio"> 
            <ul class="principal">
                <a class="logoLink" href="https://www.santander.cl/index.asp"></a>
                <li><a href="https://www.santander.cl/index.asp">Personas</a></li>
                <li><a href="https://www.santander.cl/select/index.asp">Select</a></li>
                <li><a href="https://www.santander.cl/advance/index.asp">Pymes</a></li>
                <li><a href="https://www.santander.cl/empresas/index.asp">Empresas</a></li>
                <li><a href="http://www.santanderpb.cl">Private Banking</a></li>
                <li><a href="https://www.santander.cl/GCB/index.asp">GCB</a></li>
                <li><a href="https://www.santander.cl/universidades/index.asp">Universidades</a></li>
                <li>
                    <a class="ayuda">i<span class="str-ayuda"></span></a>
                    <ul class="submenuAyuda displayNone">
                        <li>
                            <a class="servicioCliente" href="https://www.santander.cl/servicio_al_cliente/index.asp"><span class="str-cliente icono"></span>Servicio al cliente<span class="str-flecha-derecha"></span></a>
                        </li>
                        <li>
                            <a class="salaPrensa" href="https://saladecomunicacion.santander.cl/" target="_blank"><span class="str-prensa"></span>Sala de prensa<span class="str-flecha-derecha"></span></a>
                        </li>
                    </ul>
                </li>
                <li><a href="https://mov.santander.cl/beneficios?segmento=s-personas" class="btnBeneficios"><span class="str-beneficio iconoBeneficios"></span>Beneficios</a></li>
            </ul> 
            <div class="submenuSantander">
                <ul>
                    <li><a class="" href="https://www.santander.cl/cuenta-corriente.asp"><span class="str-cliente"></span>Hazte Cliente</a></li>
                    <li><a href="https://www.santander.cl/nuestro_banco/index.asp">Nuestro Banco</a></li>
                    <li><a href="https://www.santander.cl/nuestros_productos/index.asp">Nuestros Productos</a></li>
                    <li><a href="https://www.santander.cl/simuladores/credito_consumo/simulador.asp">Cr&eacute;dito Personal</a></li>
                    <li>
                        <a href="https://www.santander.cl/tarjetas/index.asp">Tarjetas </a> 
                        <ul class="submenuDesplegable">
                            <li><a href="https://www.santander.cl/tarjetas/nuestras-tarjetas/index.asp">Nuestras tarjetas</a></li>
                            <li><a href="https://www.santander.cl/tarjetas/encuentra-tu-tarjeta/index.asp">Encuentra tu tarjeta</a></li>
                            <li><a href="https://www.santander.cl/tarjetas/preguntas-frecuentes/index.asp">Preguntas frecuentes</a></li>
                            <li><a href="https://www.santander.cl/tarjetas/campanas/index.asp">Promociones</a></li>
                            <li><a href="https://superpuntos.santander.cl/ilionX45/Custom/SAN.CHL/Customers/StoreIndex.aspx" target="_blank">Canjear SUPERPUNTOS</a></li>
                        </ul>
                    </li>
                    <li><a href="https://www.santander.cl/seguros/index.asp">Seguros</a></li>
                    <li><a href="https://www.santander.cl/inversiones/index.asp">Inversiones</a></li>
                    <li><a href="https://www.santander.cl/hipotecario/index.asp">Mundo Hipotecario</a></li>
                </ul>
            </div>
        </nav>
        <div class="menuSantanderMobile">
            <div class="botonHamburguesa">
                <span class="linea"></span>
            </div>
        </div>
        <div class="menuDesplegable menuOculto scrollNew">
            <ul class="listadoMenu">
                <li>
                    <a class="liAnimado" href="javascript:void(0);">Personas</a>
                    <span class="str-flecha-abajo"></span>
                    <ul>
                        <li><a href="https://www.santander.cl/index.asp">Inicio</a></li>
                        <li><a href="https://www.santander.cl/nuestro_banco/index.asp">Nuestro Banco</a></li>
                        <li><a href="https://www.santander.cl/nuestros_productos/index.asp">Nuestros Productos</a></li>
                        <li><a href="https://www.santander.cl/cuenta-corriente.asp">Hazte Cliente</a></li>
                        <li><a href="https://www.santander.cl/simuladores/personas/credito_personal/simulador.asp">Cr&eacute;dito Personal</a></li>
                        <li><a href="https://www.santander.cl/tarjetas/index.asp">Tarjetas</a></li>
                        <li><a href="https://www.santander.cl/seguros/index.asp">Seguros</a></li>
                        <li><a href="https://www.santander.cl/inversiones/index.asp">Inversiones</a></li>
                        <li><a href="https://www.santander.cl/hipotecario/index.asp">Mundo Hipotecario</a></li>
                    </ul>
                </li>
                <li>
                    <a class="liAnimado" href="javascript:void(0);">Select</a>
                    <span class="str-flecha-abajo"></span>
                    <ul>
                        <li><a href="https://www.santander.cl/select/index.asp">Inicio</a></li>
                        <li><a href="https://www.santander.cl/cuenta-corriente.asp">Hazte Cliente</a></li>
                        <li><a href="https://www.santander.cl/select/atencion.asp">Atenci&oacute;n</a></li>
                        <li><a href="https://www.santander.cl/select/productos.asp">Productos</a></li>
                        <li><a href="https://www.santander.cl/select/productos.asp">Inversiones</a></li>
                        <li><a href="https://www.santander.cl/select/productos.asp">Financiamiento</a></li>
                        <li><a href="https://www.santander.cl/select/productos.asp">Seguros</a></li>
                        <li><a href="https://www.santander.cl/select/global-value/index.asp">Global Value</a></li>
                    </ul>
                </li>
                <li>
                    <a class="liAnimado" href="javascript:void(0);">Pymes</a>
                    <span class="str-flecha-abajo"></span>
                    <ul>
                        <li><a href="https://www.santander.cl/advance/index.asp">Inicio</a></li>
                        <li><a href="https://www.santander.cl/advance/financiamiento.asp">Financiamiento</a></li>
                        <li><a href="https://www.santander.cl/advance/tarjetas/tarjeta-advance-debito.asp">Tarjetas</a></li>
                        <li><a href="https://www.santander.cl/advance/seguros/seguros.asp">Seguros</a></li>
                        <li><a href="https://www.santander.cl/advance/inversiones-y-derivados.asp">Inversiones</a></li>
                        <li><a href="https://www.santander.cl/advance/productos-comex.asp">Comercio Exterior</a></li>
                        <li><a href="https://www.santander.cl/advance/hazte-cliente/index.asp">Hazte Cliente</a></li>
                    </ul>
                </li>
                <li>
                    <a class="liAnimado" href="javascript:void(0);">Empresas</a>
                    <span class="str-flecha-abajo"></span>
                    <ul>
                        <li><a href="https://www.santander.cl/empresas/index.asp">Inicio</a></li>
                        <li><a href="https://www.santander.cl/empresas/nuestros_productos/index.asp">Nuestros Productos</a></li>
                        <li><a href="https://www.santander.cl/empresas/nuestros_productos/financiamiento.asp">Solicita tu Cr&eacute;dito</a></li>
                        <li><a href="https://www.santander.cl/tarjetas/empresas/nuestras-tarjetas/index.asp">Tarjetas</a></li>
                        <li><a href="https://www.santander.cl/empresas/garantias_estatales/index.asp">Garant&iacute;as Estatales</a></li>
                        <li><a href="https://www.santander.cl/empresas/pagos_en_linea/index.asp">Pagos por Internet</a></li>
                        <li><a href="https://www.santander.cl/empresas/clientes-internacionales/index.asp">Clientes Internacionales</a></li>
                        <li><a href="https://www.santander.cl/empresas/hazte_cliente/plan-empresas.asp">Hazte Cliente</a></li>
                    </ul>
                </li>
                <li><a class="liAnimado" href="http://www.santanderpb.cl">Private Banking</a><span class="str-flecha-derecha"></span></li>
                <li><a class="liAnimado" href="https://www.santander.cl/GCB/index.asp">GCB</a><span class="str-flecha-derecha"></span></li>
                <li><a class="liAnimado" href="https://www.santander.cl/universidades/index.asp">Universidades</a><span class="str-flecha-derecha"></span></li>
            </ul>
            <div class="footerMobile">
                <a class="salaPrensa" href="https://saladecomunicacion.santander.cl/" target="_blank"><span class="str-audio"></span> Sala de Prensa</a>
                <a class="voxMobile" href="javascript:void(0);"><span class="str-fono"></span> Ll&aacute;manos al 600 600 3000</a>
                <a class="servicioCliente" href="http://ayuda.santander.cl/personas/"><span class="str-servicio"></span> Servicio al Cliente</a>
                <a class="chatOnline" href="http://ayuda.santander.cl/personas/?chat=on"><span class="str-app"></span>Chat Online</a>
                <a class="preguntasFrecuentes" href="http://www.santander.cl/servicio_al_cliente/preguntas-frecuentes-santander.asp"><span class="str-favoritos"></span>Preguntas Frecuentes</a>
            </div>
        </div>
    </header>

    <div class="bgFixedMenuSantander bgFixedMenuOculto"></div>
<!--/ header-->
