<!--footer-->
<footer class="footerSantander">
    <div class="container">
        <div class="caja-redes">
            <span class="logo_santander str-santander-logo"></span>
            <div class="iconos-derecha">
                <span>Síguenos en:</span>
                <a class="" href="https://twitter.com/santanderchile" title="Twitter" target="_blank">
                <span class="twitter str-twitter2"></span>
                </a>
                <a class="" href="http://www.facebook.com/santanderchile" title="Facebook" target="_blank">
                <span class="facebook str-facebook2"></span>
                </a>
                <a class="" href="http://www.youtube.com/santanderchile" title="YouTube" target="_blank">
                <span class="youtube str-youtube2"></span>
                </a>
                <a class="" href="http://instagram.com/santanderchile" title="Instagram" target="_blank">
                <span class="instagram str-instagram2"></span>
                </a>
            </div>
        </div>
        <div class="caja-items">
            <div class="f_enlaces">
                <h3 class="f_titulos">Portales Especializados</h3>
                <ul>
                    <li><a class="f_btns"  href="https://www.santander.cl/nuestro_banco/index.asp">Nuestro Banco</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/index.asp" >Personas</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/select/index.asp">Select</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/empresas/index.asp">Empresas</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/advance/index.asp">Pymes</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/universidades/index.asp">Universidades</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/fondos/index.asp">Asset Management</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/accionistas/home.asp">Accionistas</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/corredores-de-bolsa/index.asp">Corredores de Bolsa</a></li>
                </ul>
            </div>
            <div class="f_enlaces">
                <h3 class="f_titulos">Nuestros Productos</h3>
                <ul>
                    <li><a class="f_btns" href="https://www.santander.cl/tarjetas/nuestras-tarjetas/index.asp">Tarjetas de Crédito</a></li>
                    <li><a class="f_btns" href="/cuenta-corriente.asp">Cuenta Corriente</a></li>
                    <li><a class="f_btns" href="/seguros/index.asp">Seguros</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/simuladores/personas/credito_personal/simulador.asp">Crédito de Consumo</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/simuladores/simulador_hipotecario/simulador.asp">Simulador Crédito Hipotecario</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/inversiones/index.asp">Inversiones</a></li>
                </ul>
            </div>
            <div class="f_enlaces">
                <h3 class="f_titulos">Encuéntranos</h3>
                <ul>
                    <li><a class="f_btns" href="https://www.santander.cl/sucursales/index.asp">Sucursales</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/empresas/centros_empresa/index.asp">Centros Empresas</a></li>
                    <li><a class="f_btns" href="/cajeros/index.asp">Cajeros Automáticos</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/servicios/personas/chat-online/index.asp">Chat Online</a></li>
                    <li><a class="f_btns" href="/atencion-telefonica/6003203000.asp">(600) 320 3000</a></li>
                </ul>
            </div>
            <div class="f_enlaces">
                <h3 class="f_titulos">Infórmate</h3>
                <ul>
                    <li><a class="f_btns" href="https://www.santander.cl/tarifas_comisiones/index.asp">Tarifas y Comisiones</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/accionistas/estados_financieros.asp">Estados Financieros</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/informacion/publicaciones/index.asp">Publicaciones</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/nuestro_banco/index.asp">Información Corporativa</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/promociones/personas/resultado_concursos/index.asp">Resultados de Concursos</a></li>
                    <li><a class="f_btns"  href="http://saladecomunicacion.santander.cl/estudios-politicas-publicas/">Estudios</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/promociones/personas/metas_cumplimiento/index.asp">Metas y Cumplimientos</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/servicios/personas/solicitud_seguros/index.asp">Información general de Seguros</a></li>
                    <li><a class="f_btns" href="https://www.santander.cl/bienvenida/index.asp">Bienvenida Clientes Nuevos</a></li>
                </ul>
            </div>
            <div class="f_enlaces">
                <h3 class="f_titulos">Sitios Relacionados</h3>
                <ul>
                    <li><a class="f_btns" target="_blank" href="https://www.officebanking.cl/">Office Banking</a></li>
                    <li><a class="f_btns" target="_blank" href="http://www.banefe.cl/">Banefe</a></li>
                    <li><a class="f_btns" target="_blank" href="http://www.supercaja.cl">Super caja</a></li>
                    <li><a class="f_btns" target="_blank" href="http://phx.corporate-ir.net/phoenix.zhtml?c=71614&amp;p=irol-IRHome">Investor relations</a></li>
                    <li><a class="f_btns" target="_blank" href="http://www.abif.cl/defensoria-del-cliente/">Defensoría del Cliente</a></li>
                    <li><a class="f_btns" target="_blank" href="http://empleos.santander.cl">Trabaja con nosotros</a></li>
                    <li><a class="f_btns" target="_blank" href="https://www.santanderpb.cl/PPB_PUBLICO/index.asp">Private Banking</a></li>
                    <li><a class="f_btns" target="_blank" href="http://sanodelucas.cl/personas/?utm_source=home_santander&amp;utm_medium=sitio_web&amp;utm_campaign=homesantanderpersonas">Sanodelucas Personas</a></li>
                    <li><a class="f_btns" target="_blank" href="http://sanodelucas.cl/pyme/?utm_source=home_santander&amp;utm_medium=sitio_web&amp;utm_campaign=homesantanderpyme">Sanodelucas Pyme</a></li>
                    <li><a class="f_btns" target="_blank" href="http://www.clientebancario.cl">Consulta Acreencias</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="f_derechos">
        Infórmese sobre la garantía estatal en su banco o en <a href="http://www.sbif.cl" target="_blank">www.sbif.cl</a> / Infórmese sobre las entidades autorizadas para emitir Tarjetas de Pago en el país, quienes se encuentran inscritas en los Registros de Emisores de Tarjetas que lleva la SBIF, en <a href="http://www.sbif.cl" target="_blank">www.sbif.cl</a> / <a href="https://www.santander.cl/informacion/condiciones_de_uso/index.asp">Condiciones de Uso</a> / &copy; 2013 Banco Santander-Chile. Todos los derechos reservados. <a href="https://www.santander.cl/condiciones_contratacion.asp">Condiciones Objetivas de Contratación de Productos y Servicios Financieros</a>
    </p>
</footer>
