<div class="container">
        <h4>{{landing.titulo}}</h4>
        <hr>
        <div class="col-xs-12">
            <div class="box-landing">
    
                <div class="landing-header">
                        <img [src]="landing.img" alt="" class="img-fluid">
                </div>
        
                <div class="landing-body">                 
                    <h4 class="text-center">{{landing.titulo}}</h4>
                    <p class="landing-text text-center">{{ landing.bajada }}</p>
                   
                </div>
            </div>
        </div>
</div> 
