.landing-header,
.landing-body {
    box-shadow: 0 0 2px #ddd;
    background: #fff;
}

.box-landing,
.landing-header {
    margin-bottom: 40px;
}

.landing-body {
    padding: 30px;
}

h2 {
    font-size: 21px;
    color: #6f6f6f;
    line-height: 120%;
    margin-bottom: 20px;
    font-family: 'Open Sans Light', arial, sans-serif;
    font-weight: normal;
}

h4 {
    font-size: 24px;
    font-family: 'Open Sans Light', arial, sans-serif;
    color: #6f6f6f;
    margin-bottom: 30px;
}

.box-str {
    border-radius: 4px;
    box-shadow: rgba(25, 25, 25, .1) 0 0px 4px;
    background: white;
    padding: 20px;
    margin-bottom: 37px;
    width: 100%;
    position: relative;
    height: auto;
}

.tarjetasCampana {
    clear: both;
    display: block;
    text-align: center;
}

.tarjetasCampana {
    display: block;
    text-align: center;
}

.tarjetasCampana li {
    width: 120px;
    height: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    margin: 0;
}

.tarjetasCampana li.girada {
    transform: perspective(60px) rotateY(10deg) translateX(40%);
    margin-left: -40px;
    width: 95px;
}

.tarjetasCampana li.girada:first-child {
    margin-left: -60px;
}

.tarjetasCampana li:last-child {
    transform: perspective(0px) rotateY(0deg) translateX(0%);
    margin: 0 0 0 0;
    display: block;
    width: 100%;
    height: auto;
    font-size: 10px;
}

.tarjetasCampana li:last-child span {
    background-size: 100%;
    margin: 0 0 0 5px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

.box-str .link.red.auto-cent {
    display: block;
    font-family: 'Open Sans Semi Bold';
    text-decoration: none;
    text-align: center;
}

.link.red.auto-cent {
    display: none;
    font-family: 'Open Sans Semi Bold';
    text-decoration: none;
}

.link.auto-cent {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.link {
    color: #EC0000;
    text-decoration: underline;
}

a {
    color: #6D6D6D;
    text-decoration: none;
}

.hidden-target {
    max-height: 0;
    opacity: 0;
    padding: 0;
    transition: all 300ms ease 0s;
    visibility: hidden;
}

.hidden-target.active {
    max-height: 20000px;
    opacity: 1;
    padding-top: 30px;
    transition: all 300ms ease 0s;
    visibility: visible;
}

.pad-bottom-40 {
    padding-bottom: 40px;
}

.legal-campanas.hidden-target {
    padding-bottom: 0;
}

.legal-campanas.hidden-target.active {
    padding-top: 0;
    padding-bottom: 30px;
}

.oval-feed {
    background: white;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    position: relative;
    width: 80%;
    max-width: 550px;
    border: solid 1px #eaeaea;
}

.oval-feed p {
    color: #000;
    display: block;
    font-size: 16px;
    line-height: normal;
    margin: 3px 0;
    text-align: center;
    vertical-align: middle;
}

.oval-feed li:first-child {
    padding-top: 5px;
}

.oval-feed li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 6px;
}

.mar-bottom-40 {
    margin-bottom: 40px;
}

.mb-0 {
    margin-bottom: 0!important;
}

.white-bg {
    background: #fff;
}

.ohidden {
    overflow: hidden;
}

.full {
    width: 100%;
}

.container {
    max-width: 966px;
}

.container {
    clear: both;
    max-width: 936px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}

.mar-top-30 {
    margin-top: 30px;
}

.life {
    background-image: url(/assets/img/tarjetas/life.png);
}

.gold {
    background-image: url(/assets/img/tarjetas/gold.png);
}

.superpuntos {
    background-image: url(/assets/img/tarjetas/superpuntos.png);
}

.platinum-latampass {
    background-image: url(/assets/img/tarjetas/platinum-latampass.png);
}

.worldmember-latampass {
    background-image: url(/assets/img/tarjetas/worldmember-latampass.png);
}

.worldmember-limited {
    background-image: url(/assets/img/tarjetas/worldmember_limited.png);
}