#banner{
    max-height: 280px;
    margin-bottom: 40px;
}


.banner{
    position: relative;
}


.info{
    background: rgba(255,255,255, .7);
    width: 715px;
    height: 55px;
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 1;
    color: #444;
    line-height: 0.5;
}

.carousel-caption{
    right: 0;
    text-align: left;
    left: inherit;
    padding:10px;
}

.carousel-indicators li,
.carousel-indicators li:active{
    background: #ec0000;
    height: 8px;
}




.titulo{
    font-size: 16px;
    color:#ec0000;
}

.bajada{
    font-size: 14px;
}