<div class="landscape">
  <h3 class="titulo">INDICADORES ECONÓMICOS</h3>
    <table class="widget table1">

      <thead>

        <tr>
          <th>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_indicadores.png">
            <span>Indicadores</span>
          </th>
          <th>Último</th>
          <th>Var %</th>
        </tr>

      </thead>

      <tbody>
                                    <tr>
                    <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_observado.png">
            <span>DÓLAR OBSERVADO</span>
          </td>
          <td data-bind="text: price">
            672,41						</td>
          <td>
            <span class="varStock textNeg" data-bind="text: performance_pct, style: {color: color, background: background}">
              -0,90%							</span>
          </td>
        </tr>
                            <tr>
                    <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_euro.png">
            <span>EURO</span>
          </td>
          <td data-bind="text: price">
            767,77						</td>
          <td>
            <span class="varStock textNeg" data-bind="text: performance_pct, style: {color: color, background: background}">
              -0,06%							</span>
          </td>
        </tr>
                            <tr id="Edom:1,i:3969,q:1,c:numerito_dec2">
                    <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_ipsa.png">
            <span>IPSA</span>
          </td>
          <td data-bind="text: price">5.153,78</td>
          <td>
            <span class="varStock textNeg" data-bind="text: performance_pct, style: {color: color, background: background}" style="color: rgb(236, 0, 0);">-0,72%</span>
          </td>
        </tr>
                            <tr>
                    <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_uf.png">
            <span>UF</span>
          </td>
          <td data-bind="text: price">
            27.492,53						</td>
          <td>
            <span class="varStock textPos" data-bind="text: performance_pct, style: {color: color, background: background}">
              +0,01%							</span>
          </td>
        </tr>
                        </tbody>

      <tfoot>

        <tr>
          <td colspan="3"></td>
        </tr>

      </tfoot>

    </table>

    <table class="widget table2">

      <thead>

        <tr>
          <th>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_indicadores.png">
            <span>Indicadores</span>
          </th>
          <th>Último</th>
          <th>Var %</th>
        </tr>

      </thead>

      <tbody>
                          <tr id="Edom:2,i:772,q:0,c:numerito_dec2">
          <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_utm.png">
            <span>UTM</span>
          </td>
          <td data-bind="text: price">
            48.160,00						</td>
          <td>
                          <span class="varStock textPos" data-bind="text: performance_pct, style: {color: color, background: background}">
              +0,30%							</span>
                        </td>
        </tr>
                  <tr id="Edom:3,i:13994,q:0,c:numerito_dec2">
          <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_ipc.png">
            <span>IPC</span>
          </td>
          <td data-bind="text: price">
            119,14						</td>
          <td>
                          <span class="varStock textPos" data-bind="text: performance_pct, style: {color: color, background: background}">
                                  +0,40%																</span>

                        </td>
        </tr>
                  <tr id="Edom:4,i:425,q:0,c:numerito_dec2">
          <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_tpm.png">
            <span>TPM</span>
          </td>
          <td data-bind="text: price">
            2,75						</td>
          <td>
                          <span class="varStock textPos" data-bind="text: performance_pct, style: {color: color, background: background}">
              +10,00%							</span>
                        </td>
        </tr>
                  <tr id="Edom:5,i:33123,q:0,c:numerito_dec2">
          <td>
            <img src="https://bancosantanderinversiones.finmarketslive.cl/images/icono_fed_fund.png">
            <span>FED FUND</span>
          </td>
          <td data-bind="text: price">
            2,25						</td>
          <td>
                          <span class="varStock textNeu" data-bind="text: performance_pct, style: {color: color, background: background}">
              0,00%							</span>
                        </td>
        </tr>
                
      </tbody>

      <tfoot>

        <tr>
          <td></td>
          <td colspan="2">
            <a href="http://www.santander.cl/inversiones/informacion-mercados.asp" target="_top">
              Ver más
              <img src="https://bancosantanderinversiones.finmarketslive.cl/images/arrow-details.png">
            </a>
          </td>
        </tr>

      </tfoot>

    </table>
  </div>