
        <div class="row">
            <div class="col-20" *ngFor="let caluga of calugasOk">

                <img (click)="verLanding(caluga.id)" [src]="caluga.img" alt="" class="img-fluid">
                <p class="titulo">{{caluga.titulo}}</p>
                <p class="bajada">{{caluga.bajada}}</p>

                <!-- <a [routerLink]="['/landing', i]" class="btn btn-outline-primary text-center">Volver</a>-->



                <!-- <div class="card">
                 <p *ngIf="aparecer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum aut officiis voluptas atque esse. Temporibus facere accusantium minus inventore aspernatur distinctio voluptate explicabo natus neque necessitatibus, sit, nisi suscipit, aliquid voluptas! Inventore amet, ipsa consequuntur officiis, reprehenderit voluptas non unde animi architecto saepe odio molestias illo voluptates 
                   repudiandae omnis nam, eveniet magnam! Ullam, aliquid asperiores minus perferendis laborum unde ea est magni, architecto ipsam corporis maxime aspernatur inventore? Quae vitae nam modi! Eveniet, ipsum. Quae et cumque impedit.</p> 
                   <button (click)="aparecer = !aparecer">show/hidde</button>
               </div> -->
                <!-- 
               <div class="card">
                 <ul>
                   <li *ngFor="let item of items">{{item}}</li>
                 </ul>
               </div> -->

            </div>
        </div>

